* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.html {
  font-size: 62.5%;
}
body {
  max-width: 1440px;
  height: 3974px;
  background: rgba(23, 23, 23, 1);
  color: #fafaf9;
}
.header_section {
  height: 938px;
  width: 1255px;
}

.navigation_container {
  height: 19px;
  width: 1312px;
  display: flex;
  justify-content: space-around;
  gap: 20px;
  margin-top: 49px;
}

.navigation_container a {
  color: #fafaf9;
  text-decoration: none;
  height: 19px;
  width: 85px;
  font-size: 15px;
}
.navigation_more_options {
  display: flex;
  gap: 10px;
}
